body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 1.3s cubic-bezier(0.25, 0.05, 0.1, 0.94);
}

:root{
    --color-primary: #7F56DA;
    --color-red-primary: #f3789b;
    --color-soft-primary: #f3f0f9;
    --color-soft-gray: #e0e0e0;
}
  
.form-control:focus, .form-select:focus {
    box-shadow: none;
}

.fs-s-sm {
    font-size: 12px !important;
}

.fs-sm {
    font-size: 13px !important;
}

.color-primary {
    color: var(--color-primary) !important;
}

.btn.btn-primary {
    background: var(--color-primary);
}
.btn.btn-danger {
    background: var(--color-red-primary);
}

.nav-link {
    font-weight: 500;
    transition: 0.4s;
}

.nav-link:hover, .nav-pills .nav-link.active {
    color: var(--color-primary);
    transition: 0.4s;
    background: var(--color-soft-primary);
    border-radius: 4px;
}

.nav-link.active {
    color: var(--color-primary) !important;
    transition: 0.4s;
    background: var(--color-soft-primary);
    border-radius: 4px;
}

.dropdown-menu {
    min-width: 13rem !important;
    border: 1px var(--color-soft-gray) solid;
}

.dropdown-item:active {
    background: var(--color-primary);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: 0;
}

.btn.btn-primary:focus {
    background: #6f42ce;
}

.btn.btn-danger:focus {
    background: #ef658c;
}

hr {
    opacity: 18%;
}

#backgroundGradient {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #bfa7f7, #fbc2eb);
    height: 250px;
}

#header-profile {
    position: relative;
    top: -40px;
}

.row.detail-profil {
    background: var(--color-soft-primary);
}

.content-name-author h2 {
    color: var(--color-red-primary);
}

.author-status {
    border: 1px var(--color-soft-gray) solid;
    position: absolute;
    top: 60%;
    right: 0;
    background: #fff;
    cursor: pointer;
}

.tooltip-bg {
    background: red !important;
}

.tab-content .tab-pane {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.42s ease-in-out, transform 0.42s ease-in-out;
  }
  
.tab-content .tab-pane.fade.show {
    opacity: 1;
    transform: translateY(0);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1040;
    background: #bfa7f7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.loader.animate {
    height: 0;
    transition: 0.9s ease-in-out;
}

.img-hover-url:hover .backdrop-project {
    opacity: 1;
}

.backdrop-project {
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);

}

.backdrop-project h3 {
    color: #c5aaff;
}


/* .loader .slider1 {
    background: #ff9a9e;
    width: 100%;
    height: 100dvh;
    transition: 0.6s ease-in-out;
}

.loader .slider1.animate {
    height: 0;
    transition: 0.6s ease-in-out;
}

.loader .slider2 {
    background: #bfa7f7;
    width: 100%;
    height: 100dvh;
    transition: 0.9s ease-in-out;
}

.loader .slider2.animate {
    height: 0;
    transition: 0.9s ease-in-out;
}

.loader .slider3 {
    background: #fbc2eb;
    width: 100%;
    height: 100dvh;
    transition: 1.2s ease-in-out;
}

.loader .slider3.animate {
    height: 0;
    transition: 1.2s ease-in-out;
} */